*{
    margin: 0px;
    font-family: "Inter";
}

#logo{
    margin-top: 50px;
    margin-left: 50px;
}

#titulosuperior{
    margin-top: 50px;
    margin-left: 150px;
}

#textosuperior{
    margin-top: 35px;
    margin-left: 150px;
    padding-bottom: 100px;
}

#menusuperior{
    background-image: url(imagens/fundo\ superior.svg);
    color: aliceblue;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns:auto
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulocarrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#esquerda{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    margin-top: 40%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#formulario{
    text-align: center;
}

#tituloformulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    background-color: #EAECE5;
    width: 300px;
    height: 40px;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    color: #EAECE5;
    font-weight: bolder;
    width: 250px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 50px;
    cursor: pointer;
}

button:hover{
    background-color: #61b8dd;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(100, 97, 97, 0.573);
    transition-duration: 0.5s;
}